[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[project]
	description = realtime digital filtering library
[access "refs/*"]
	owner = group user/Nicolas Bourdaud (nbourdau)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nicolas Bourdaud (nbourdau)
	label-Verified = -1..+1 group user/Nicolas Bourdaud (nbourdau)
	push = group user/Nicolas Bourdaud (nbourdau)
	read = group user/Nicolas Bourdaud (nbourdau)
	rebase = group user/Nicolas Bourdaud (nbourdau)
	removeReviewer = group user/Nicolas Bourdaud (nbourdau)
	submit = group user/Nicolas Bourdaud (nbourdau)
[access "refs/heads/*"]
	create = group user/Nicolas Bourdaud (nbourdau)
	push = +force group user/Nicolas Bourdaud (nbourdau)
	pushMerge = group user/Nicolas Bourdaud (nbourdau)
	read = group user/Nicolas Bourdaud (nbourdau)
[access "refs/tags/*"]
	push = group user/Nicolas Bourdaud (nbourdau)
	push = +force group user/Nicolas Bourdaud (nbourdau)
