Source: rtfilter
Section: libs
Priority: extra
Maintainer: Nicolas Bourdaud <nicolas.bourdaud@epfl.ch>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://cnbisrv02.epfl.ch

Package: librtfilter1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: http://cnbisrv02.epfl.ch
Description: reatime digital filtering library
 This package provides a library written in C implementing realtime digital
 filtering functions for multichannel signals (i.e. filtering multiple
 signals with the same filter). The core library implements FIR and IIR
 filtering for float and double data type. Additional functions are also
 provided to design few usual filters: Butterworth, Chebyshev, windowed
 sinc...
 
Package: librtfilter1-dev
Provides: librtfilter-dev
Conflicts: librtfilter-dev
Section: libdevel
Architecture: any
Depends: librtfilter1 (= ${binary:Version}), ${misc:Depends}
Homepage: http://cnbisrv02.epfl.ch
Description: reatime digital filtering library (development files)
 This package provides a library written in C implementing realtime digital
 filtering functions for multichannel signals (i.e. filtering multiple
 signals with the same filter). The core library implements FIR and IIR
 filtering for float and double data type. Additional functions are also
 provided to design few usual filters: Butterworth, Chebyshev, windowed
 sinc...
 .
 This package contains the files needed to compile and link programs which
 use rtfilter.
